p{
    font-size: 1em;
}
.heading{
    color: darkblue;
    background-color: #ccc;
    border: 4px solid black;
    text-align: center;
}
.description{
    color: blue;
    background: url("../img/tv1.jpg") no-repeat center;
}
img[alt="BBK"]{
    border: 4px solid green;
}
.list{
    list-style-type: none;
}
.link{
    text-decoration: none;
}