body{
    overflow-y: scroll;
}
/*Стилизация тела сайта*/
.container {
    font-family: "Comic Sans MS";
    width: 1200px;
    margin: 0 auto;
    /*  background-color: #f8f8f8;*/
}

/*Стилизация шапки сайта*/
.header{
    height: 220px;
    position: relative;
}
.header hr{
    clear: both;
}
.logo{
    position: relative;
    float: left;
}
.logo img{
    width: 600px;
}
.title{
    float: right;
}
.header .menu .active{
    background-color: #ffb3ba;
    color: red;
 }
.menu{
    margin: auto 0;
    padding: 0;
    float: right;
    position: relative;
    top: 70px;
    background-color: #ff406e;
    overflow: hidden;
}
.menu li{
    float: left;
}
.menu li a{
    padding: 5px 20px 0 20px;
    outline: 1px solid #888888;
    height: 30px;
    font-family: Verdana;
    text-decoration: none;
    color: antiquewhite;
    display: block;
}
.menu li a:hover{
    color: crimson;
    background-color: #ffb3ba;
}

/*Стилизация ссылок*/
.link {
    text-decoration: none;
    color: darkcyan;
}
.link:hover{
    color: red;
}

/*Стилизация списков*/
.list{
    list-style: none;
}

/*Стилизация страницы товара каталога*/
.heading{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.short-description{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.description{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.characteristics{
    color: #373737;
    font-size: 18px;
    line-height: 26px;
}
.characteristics li{
    list-style-image: url("../img/icon.png");
    margin-left: 15px;
}
.img-item{
    outline: 1px solid red;
}
.img-item:hover{
    outline: none;
}
.item-text:first-letter{
    font-size: 50px;
    font-family: Gabriola;
}
.img-desc{
    float: left;
}
.buy{
    margin-bottom: 20px;
}
.buy input{
    margin-left: 30px;
    margin-top: 20px;
    width: 120px;
    height: 30px;
    font-family: Verdana;
    text-decoration: none;
    color: antiquewhite;
    background-color: #ff406e;
}
.buy input:hover{
    color: crimson;
    background-color: #ffb3ba;
    cursor: pointer;
}
.buy input:active{
    background-color: indianred;
    color: #fff;
}
.short-text{
    overflow: hidden;
    margin-left: 20px;
    padding-left: 20px;
}
.long-text{
    clear: both;
    padding-top: 10px;
}

/*Стилизация таблицы характеристик товара каталога*/
.table-characteristics{
    margin-left: 50px;
}
.first-row{
    height: 50px;
}
.table-characteristics td:nth-child(2n){
    padding-left: 50px;
}

/*Стилизация футера*/
.footer{
    text-align: center;
    color: #373737;
    font-size: 12px;
    height: 40px;
    background-color: #dddddd;
    display: block;
    clear: both;
}
.rights-text{
    float: right;
    position: relative;
    top: 5px;
    right: 30px;
}

/*Стилизация формы обратной связи*/
form{
    color: #000;
    border: 2px solid #888;
    width: 390px;
    padding: 30px;
    border-radius: 10px;
}
input[type="text"]{
    font-size: 18px;
    color: darkmagenta;
    margin-left: 50px;
    text-align: center;
    width: 230px;
    height: 20px;
    border: 2px solid #888;
    border-radius: 8px;
    text-transform: capitalize;
}
.input-email:focus{
    background-color: aquamarine;
    color: red;
}
form textarea{
    margin-top: 5px;
    border: 2px solid #888;
    border-radius: 10px;
    width: 360px;
    font-size: 18px;
    text-transform: capitalize;
    padding-left: 5px;
}
input[type="submit"]{
    margin-top: 5px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 120px;
    height: 25px;
}

/*Стилизация страницы Каталога*/
.catalog{
    text-align: center;
    padding-bottom: 50px;
}
.catalog-item{
    display: inline-block;
    padding: 0 20px;
    overflow: hidden;
}
.catalog-item img:hover{
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}